/*
/*------------------------------------ code commun à toutes les pages: reset & header-------------------*/
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EBF2FA;
}

/* les diverses tailles et poids des polices */

h1 {
  font-family: 'Inter', sans serif;
  font-size: 24px;
  font-weight: bold;
}
 
h2 {
  font-family: 'Inter', sans serif;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-family: 'Inter', sans serif;
  font-size: 12px;
  font-weight: bold;
}

h4 {
  font-family: 'Inter', sans serif;
  font-size: 16px;
  font-weight: normal;
}

h5 {
  font-family: 'Inter', sans serif;
  font-size: 14px;
  font-weight: normal;
}
p {
  font-family: 'Inter', sans serif;
  font-size: 12px;
  font-weight: normal;
}

/* taille du logo et du menu burger */

header img {
  max-width: 50%;
}
.container-logo-et-burger {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 0 0 0;

}
/* alignement du menu à droite */
header nav {
  display: flex;
  justify-content: end;
}
/* créer la boîte du menu */
li {
  background-color: #4274a1;
  list-style: none;
}
.pop-up-menu {
  background-color: #4274a1;;
  border: solid;
  border-color: #4274a1 ;
  padding: 10px;
  position:absolute;
  top: -9999px;
  left: -9999px;
}
a {
  color: white;
  background-color: #4274a1;
  text-decoration: none;
}
/*
/* -------------------------------------------- fin du header ----------------------------------------
*/
caption {
    font-size: x-large;
    font-weight:bold;
    color: #4274a1;
}
table {
    border: 4px solid #4274a1;
    border-radius: 30px;
    padding: 20px;
    margin:10px;
}





/* ----------------------------------------code commun à toutes les pages: footer -------------------
*/
/* --------------menu du footer------------------ */

/* créer la boîte du menu */
.menu-footer a{
  display:inline-block;
}

.menu-footer {
  display:flex;
  justify-content: space-between;
  width:100%;
  background-color: #4274a1;;
  border: solid;
  border-color: #4274a1 ;
  padding: 10px;
  position:fixed;
  bottom: 0;
  font-size: x-small;
}
